	header{
		position:fixed;
		top:20;
		z-index: 10;
		
	}



	ul{
		list-style: none;;
		text-align: right;
		padding-right: 30px;
		color:red;
	}

	li{
		padding-bottom: 1px;


	}
	.photoPart{
		margin-left: 16vw;
		width: 50%;
	    margin-left: 300px;
	    margin-top: 50px;
	}

	header{
		    right: 1vw;
    top: 1vh;
	}

	.leftbar{
		position: fixed;
		
		z-index: 11;
		padding-top: 24px;
		padding-left: 100px;
		width:16vw;
		height: :100vh;
		background-color:white;
		height: 100vh;


	}
	.introMore{
		color:grey !important;
	}

	.container{
		bottom: 0;
	}
	.introName{

		    font-size: 33px;
		    color:red;

	   
	  font-family: 'Monoton', cursive;
	}
	.pageOne{
		    display: none !important;
		    width: 35vw;
    margin-left: 259px;
        margin-top: 164px;
	}
		.pageTwo{

			width:20vw;
			grid-column: 1/2;
			grid-row: 1;
			    margin-top: 80px;
			        margin-left: 62px;
		}
		.pageThree{

			width:20vw;
			grid-column: 2/3;
			grid-row: 2;
		}
		.pageFour{

			width:20vw;
			grid-column: 1/2;
			grid-row: 3;
			    margin-left: 61px;
		}
		.pageFive{

			width:20vw;
			grid-column: 2/3;
			grid-row: 4;
		}
		.content1{
			  display: grid;
			  grid-column-gap: 80px;
			  grid-row-gap: 280px;
	    
	    grid-template-columns: repeat(2, 1fr);
	    grid-template-rows: 100px 100px 100px	100px;
		}
		.pOne{
			grid-column: 2/3;
			grid-row:1;
			    margin-top: 113px;
			    margin-left:80px;
		}
		.pTwo{
			grid-column: 1/2;
			grid-row:2;
			margin-left: 127px;
    margin-top: 50px;
		}
		.pThree{
			grid-column: 2/3;
			grid-row:3;
			    margin-top: 30px;
    margin-left: 66px;
		}
		.pFour{
			grid-column: 1/2;
			grid-row:4;
			margin-left: 139px;
			margin-top: 40px;
		}

.introInfo{
	margin-left: 16vw;
	margin-top: 17vh;
	color: grey;
}
.content1{
	margin-left: 9vw;
}
.row{
	    margin-top: 170px;
}

.introName1{
	font-family: 'Philosopher', sans-serif;
}

.headerName{
	font-family: 'Philosopher', sans-serif;
}

.photo1{
		vertical-align: middle;
	    width: 20vw;
	    height: auto;
	    margin-left: 24vw;
	    margin-top: 1vh;
}
.photo2{
	vertical-align: middle;
    width: 30vw  ;
    
    margin-left: 31vw;
    margin-top:-2vh;
}
.photo3{
	vertical-align: middle;
    width: 22vw;
    height: auto;
    margin-left: 438px;
    margin-top: 23px;


}
.photo4{
	vertical-align: middle;
    width: 22vw;
    height: auto;
    margin-left: 31vw;
        margin-top: 8vh;
}
.photo5{
	vertical-align: middle;
    width: 24vw;
    height: auto;
    margin-left: 24vw;
    margin-top: 3vh;	
}



.introPhoto{
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: 382px 200px;
    grid-template-rows: 200px 300px 200px;
    margin-left: 0vw;
        margin-top: 5vh;

}
 
 .namePhoto1{
 	margin-left: 30vw;
    margin-top: -62vh;
    color: red;
 }
  .namePhoto2{
 	    margin-left: 62vw;
    margin-top: -7vh;
    color: red;
 }
  .namePhoto3{
 	    margin-left: 561px;
    margin-top: 319px;
    color: red;
 }
  .namePhoto4{
    margin-left: 62vw;
    margin-top: 300px;
    color: red;
 }
  .namePhoto5{
 	    margin-left: 31vw;
    
    margin-top: -55px;
    color: red;
 }
p{
	font-family: 'Philosopher', sans-serif;
	color:grey;
}
a{
color: red;
}
a.introName1{
	color:black;
}
.introName1{
    font-size: 14px;

   
    transition: width 1s;
}
.introName1:hover{
	font-size: 14.5px;

}

img{
	opacity: 1.0;
	width:100% ;
	
	transition: 1s;
}
img:hover{
	opacity: 0.5;
	width:102%  ;
	
}
.headerName{
width:12vw;
  background: #ff000000;
  padding: 40px;
  transition: width 2s, height 2s, transform 2s;
}

.headerName:hover{
	width: 18vw;

  padding: 40px;
  transform: matrix(1, -0.3, 0, 1, 0, 0);

}
/*.introName{
width:12vw;
  background: #ff000000;
  padding: 40px;
  transition: width 2s, height 2s, transform 2s;
}

.introName:hover{
	width: 18vw;

  padding: 40px;
  transform: matrix(1, -0.3, 0, 1, 0, 0);

}*/
.photo2{
	width:20vw  !important;
}
.photo2:hover{
	width:22vw  !important;

}
.photo4{
	width:21vw  !important;
}
.photo4:hover{
	width:23vw  !important;

}
.pageOne{
	width:35vw  !important;
}
.pageOne:hover{
	width:37vw  !important;

}
.photo5{
	width:24vw  !important;
}
.photo5:hover{
	width:26vw  !important;

}
.photo1:hover{
	width:21vw  !important;

}

.pageRolling{
	margin-top: 9vh;
	width:6vw	!important;
}
@keyframes example {
    0%   {left:100px; top:0px;}
    25%  {left:300px; top:0px; 
          transform: rotate(90deg);}
    50%  { left:500px; top:0px; 
          transform: rotate(180deg);}
    75%  {left:700px; top:0px; 
          transform: rotate(270deg);}
    100% { left:900px; top:0px; 
          transform: rotate(360deg);}
}

.pageRolling{

    
    position: relative;
    animation-name: example; 
    animation-duration: 4s; 
    animation-iteration-count: infinite; 
}
.introInfo{
	font-size: 14px;
}
.introInfo:hover{
	font-size: 14.5px;

}
.hamburger-container{
    float: right;
    float: top;
    z-index: 30;
    position: relative;
    padding-right: 7vw;
    bottom: 2vh;
    left: 96vw;
    position: fixed;
}

#top_bun, #meat, #bottom_bun{
  width: 35px;
  height: 5px;
  background-color: #333;
  margin:6px 0;
  position: relative;
  margin-right: 0vw;
}

.hamburger-container div{
  transition: 0.4s;
}

#overlay{
  height:0vh;
  width: 100vw;
  position:fixed; /* fixed position so if the page is scrollable, this still remains in the same position */
  z-index: 11; /* z index so its above the main webpage, yet under the hamburger icon */
  top: 0;
  left: 0;
  background-color: #333;
  opacity: 1;
  overflow-y: hidden; /*need tis to to prevent seeing the text when the overlay height is 0.*/
  transition: 0.4s;
}


#overlay nav{
  margin-top: 25vh;
}


#overlay li{
  list-style-type: none;
  display: block;
  opacity: 100%;
  text-align: center;
}

#overlay li a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}
.background1{
	    width: 61vw;
    margin-left: 16vw;
    margin-top: 2vh;
}
.background1:hover{
	width:68vw;
	opacity: 1;
}